<nav class="navbar navbar-default sticky-top navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">New</a>
                <a class="nav-link" href="">Contact</a>
                <a class="nav-link" href="">Address</a>
                <a class="nav-link" href="">Group</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="">Contacts</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="">Addresses</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="">Groups</a>
            </li>
        </ul>
    </div>
</nav>
