<div class="search">
    <form class="form-inline" method="get" action="">
        <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search by name" value="">
        <input id="number" class="form-control mr-sm-2"  type="number" name="min_capacity" min="1" placeholder="Search by space" value="">
        <input class="form-control mr-sm-2" type="date" name="day" placeholder="Search by day">
        <div class="checkbox">
            <label for="projector">projector:
            <input id="projector" class="form-control" type="checkbox" name="projector" placeholder="Search by projector">
        </label></div>
        <button class="btn btn-outline-info my-2 my-sm-0" name="search" type="submit">Search</button>
    </form>
</div>